body{
    font-family: Arial, sans-serif;
    background-color: #acaca0;
    text-align: centre;
    margin: 20px;

}
h1{ 
    color:beige;
    margin-bottom: 30px;
}

.product-box{
    background-color: gray;
    width: 300px;
    margin: 0  auto;
    padding: 15px;
    border: 2px solid gray;
    border-radius: 8px;
}
.price{
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
}
button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}